<h4>Internal server error,  refresh the page to make the error disapear</h4>
<ng-container *ngIf="error">
    <h5 class='text-danger'>Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note : If you are seeing this, it is not from client side. </p>
    <p>Following steps can be taken:</p>
    <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL - make sure it is correct</li>
        <li>Reproduce the error in Postman, if you see the same problem, 
            the issue is not on the client side. </li>
    </ol>
    <p>Following is the stack trace - </p>
    <code class="mt-5"> {{error.details}}</code>
</ng-container>
